@using ProjectA.Models
@model TheLoai

<div class="container">
    <p>ID: <b>@Model.Id</b></p>
    <p>Tên thể loại: <b>@Model.Name</b></p>
    <p>Ngày tạo: <b>@Model.DateCreated.ToString("dd/MM/yyyy")</b></p>
    <a asp-controller="TheLoai" asp-action="Index" class="btn btn-primary">Quay về</a>
</div>
