@using ProjectA.Models
@model NhaSanXuat
<div class="container">
    <h3>Xóa nhà sản xuất</h3>
    <div asp-validation-summary="All" class="text-danger">   </div>
    <form method="post" asp-action="DeleteConfirm">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name">Tên nhà sản xuất</label>
            <input asp-for="Name" type="text" class="form-control" readonly />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DateEstablished">Ngày tạo</label>
            <input asp-for="DateEstablished" type="date" class="form-control" readonly />
            <span asp-validation-for="DateEstablished" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Xóa</button>
        <a asp-action="Index" class="btn btn-secondary">
            Hủy
        </a>
    </form>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}