
@{
    ViewData["Title"] = "Index";
}

<body>

<header>
  <h2>GIỚI THIỆU</h2>
</header>

<section>
  <nav>
    <ul>
      <li><a href="~/trang-chu">Bản thân</a></li>
      <li><a href="~/gioi-thieu-nhom">Nhóm</a></li>
    </ul>
  </nav>

  <article>
    <table>
        <thead>
            <th>STT</th>
            <th>Mã số sinh viên</th>
            <th>Họ và tên</th>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>1822040886</td>
                <td>Nguyễn Sơn Tùng</td>
            </tr>
            <tr>
                <td>2</td>
                <td>1822040900</td>
                <td>Lý HUy Hoàng</td>
            </tr>
            <tr>
                <td>3</td>
                <td>1822040747</td>
                <td>Nguyễn Ngọc Mai</td>
            </tr>
        </tbody>
    </table>
    </article>
</section>

<footer>
  <p>Copyright &copy; Nguyen Son Tung - 2024</p>
</footer>

</body>
