@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
            @* <a class="nav-link " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Xin Chào @User.Identity?.Name?.Split('@')[0]</a> *@
            <a class="nav-link hover-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><img src="~/images/icons8-admin-settings-male-24.png" class="hover-icon"></a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link hover-link btn btn-link"><img src="~/images/icons8-log-out-24.png" class="hover-icon"></button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Đăng ký</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a>
    </li>
}
</ul>
