@{
    ViewData["Title"] = "Home Page";
}

<body>

<header>
  <h2>GIỚI THIỆU</h2>
</header>

<section>
  <nav>
    <ul>
      <li><a href="~/trang-chu">Bản thân</a></li>
      <li><a href="~/gioi-thieu-nhom">Nhóm</a></li>
    </ul>
  </nav>

  <article>
    <h1>Nguyễn Sơn Tùng</h1>
    <p>------</p>
    <img src="~/images/Anh.jpg" style="width:100px;"/>
    </article>
</section>

<footer>
  <p>Copyright &copy; Nguyen Son Tung - 2024</p>
</footer>

</body>
